<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CICD Test</title>
<style>
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333; 
	margin: 0;
	padding: 20px;
}

div {
	background-color: #fff; 
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 8px;
	text-align: center;
}

h2 {
	margin: 10px 0;
	font-size: 24px;
}

img {
	margin: 3px;
	border-radius: 5px; 
}
</style>
</head>
<body>
	<div>
		<h2>Lambda로 파일 변화 자동으로 감지하기 <i>SUCCESS !!!!!</i></h2>
		<img src="/images/success.jpeg" alt="Success Image" width="410">
		<img src="/images/happy.png" alt="Happy Image" width="410">
	</div>
</body>
</html>
